.skip {
  position: fixed;
  left: 3rem;
  transition: 0.3s ease-in;
  z-index: 2050;
  font-size: 1rem;
  font-weight: 300;
  background-color: var(--aply-yellow);
  text-decoration: none;
  top: -12rem;
  outline: none;
  padding: 0.5rem 2rem;
  color: var(--aply-white);
}

.skip:focus {
  top: 0;
}
