/* ------- configure css tokens ------- */
:root {
  --aply-bg: #f5f7fa;
  --aply-yellow: #f6bd2a;
  --aply-white: #ffffff;
  --aply-blue: #538fb7;
  --aply-blue-2: #51596c;
  --aply-blue-3: #1f2430;
  --aply-ash: #d9d9d9;
  --aply-ash-2: #c4ccd6;
  --aply-black: #3f3f3f;
}
